// Impostazioni header
header{
  height: 50px;
  width: 100%;
  background: $primary_color;

  .container{
    display: block;
    max-width: 972px;
    margin: 0 auto;

    img{
      float: left;
      width: 50px;
    }
    form{
      float: right;

      .artista{
        float: left;
        margin: 15px;
        width: 150px;
        height: 20px;
      }
      input{
        margin-top: 15px;
      }
    }

  }
}
